In [19]:
import pandas as pd

# Load the CSV file
file_path = r'C:\Users\agelf\Documents\School\U of C\Masters of Data Science and Analytics\Data 601\Group Assignment\2019-2020_CSV\Data_Donnees\pumf_cchs.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe
print(df.head())

   ADM_RNO1   VERDATE     REFPER  GEOGPRV  GEODGHR4  DHH_SEX  DHHGMS  \
0      1000  20240531  2019-2020     47.0   47906.0      2.0     1.0
1    100005  20240531  2019-2020     47.0   47906.0      1.0     1.0
2    100012  20240531  2019-2020     59.0   59914.0      2.0     2.0
3    100015  20240531  2019-2020     13.0   13904.0      1.0     2.0
4    100018  20240531  2019-2020     46.0   46903.0      1.0     2.0

   DHHDGHSZ  ADM_PRX  DHHGAGE  ...  FSCDVHF2  INCG015  INCDGHH  INCDGRCA  \
0       2.0      2.0      3.0  ...       0.0      1.0      5.0       4.0
1       2.0      2.0      5.0  ...       0.0      2.0      4.0       2.0
2       1.0      2.0      5.0  ...       6.0      2.0      2.0       1.0
3       1.0      2.0      5.0  ...       0.0      2.0      3.0       3.0
4       1.0      2.0      4.0  ...       0.0      2.0      1.0       1.0

   INCDGRPR  INCDGRRS  ADM_040  ADM_045  ADM_050   WTS_M
0       4.0       4.0      1.0      1.0      6.0  762.82
1       2.0       2.0      6.0      1.0      6.0   31.78
2       1.0       1.0      2.0      1.0      6.0   59.24
3       3.0       9.0      6.0      1.0      6.0   22.83
4       1.0       9.0      2.0      1.0      6.0   39.96

[5 rows x 691 columns]

In [21]:
print("Dimensions of the dataset:", df.shape)

Dimensions of the dataset: (108252, 691)

#Question 3
How does alcohol consumption affect mental health among different age groups? 
Variables of interest

* ALC_015: frequency of alcohol use in 12 months, discrete 01-07
* ALC_020: 5+/4+ drinks on one occasion frequency (binge drinking), discrete 01-06
* GEN_010: satisfaction with life in general, discrete 1-10 
* GEN_015: self perceived mental health, discrete 1-5
* GEN_020: perceived life stress, discrete 1-5
* GEN_025: work stress, discrete 1-5
* CCC_195: mood disorders, discrete 1-2

In [23]:
df_general=df.copy()

In [31]:
#This should filter all of the variables we want on the general level. You will need to determine which variables you will use
#IMPORTANT I did not include all the CCC values for chronic disease here. I can look and see what we need, and try to adjust shortly
#If you think anything is missing here, feel free to change
df_general=df_general.filter(items=[
    'ALC_015',
    'ALC_020',
    'GEN_010',
    'GEN_015',
    'GEN_020',
    'GEN_025',
    'CCC_195',
    'GEN_005',
    'HWTDGISW',
    'CAN_015',
    'SMK_005',
    'SMK_060',
    'PAADVACV',
    'PAA_030',
    'PAA_060',
    'PAA_095',
    'SBE_005',
    'SBE_010',
    'PAA_005',
    'DHHGAGE',
    'DHH_SEX',
    'GEOGPRV',
    'EHG2DVH3'
    ])
print(df_general.head())

   ALC_015  ALC_020  GEN_010  GEN_015  GEN_020  GEN_025  CCC_195
0      5.0      3.0      9.0      3.0      2.0      2.0      2.0
1      1.0      1.0      4.0      3.0      3.0      6.0      1.0
2     96.0     96.0      7.0      3.0      3.0      6.0      2.0
3     96.0     96.0      8.0      3.0      3.0      6.0      2.0
4     96.0     96.0      0.0      5.0      4.0      6.0      2.0

In [37]:
df_general.to_csv('Question_3.csv',index=False)

In [45]:
df_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108252 entries, 0 to 108251
Data columns (total 7 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ALC_015  108252 non-null  float64
 1   ALC_020  108252 non-null  float64
 2   GEN_010  108252 non-null  float64
 3   GEN_015  108252 non-null  float64
 4   GEN_020  108252 non-null  float64
 5   GEN_025  108252 non-null  float64
 6   CCC_195  108252 non-null  float64
dtypes: float64(7)
memory usage: 5.8 MB

In [48]:
df_general.describe()

,ALC_015,ALC_020,GEN_010,GEN_015,GEN_020,GEN_025,CCC_195
count,108252.000000,108252.000000,108252.000000,108252.000000,108252.000000,108252.000000,108252.000000
mean,28.728975,27.678306,11.575176,2.381148,2.595324,4.833509,1.914912
std,41.177029,41.984238,17.585827,1.562486,1.060638,1.667734,0.371765
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,1.000000,7.000000,1.000000,2.000000,3.000000,2.000000
50%,5.000000,2.000000,8.000000,2.000000,3.000000,6.000000,2.000000
75%,96.000000,96.000000,10.000000,3.000000,3.000000,6.000000,2.000000
max,99.000000,99.000000,99.000000,9.000000,8.000000,9.000000,8.000000

In [57]:
df_general.dtypes

ALC_015    float64
ALC_020    float64
GEN_010    float64
GEN_015    float64
GEN_020    float64
GEN_025    float64
CCC_195    float64
dtype: object

In [ ]:
#probably use .drop of some variables like 96, etc

#Use df.groupby('X')['Y'].mean() to group the DF by the X column, so all rows with the same X are grouped together.
#The ['Y'] indicates we are interested in the 'Y' amount for each group
#.mean() calculates the mean of Y for each group